#include "\fwh\include\winapi.ch"

GEFYRA DIALOG  15, 56, 278, 225
STYLE WS_POPUP | WS_VISIBLE | WS_DLGFRAME
CAPTION "ΑΡΧΕΙΟ ΓΕΦΥΡΑΣ ΑΠΟ Excel σε Epsilon "
FONT 8, "Arial"
{
 CONTROL "012004.XLS", 102, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 76, 20, 145, 9
 CONTROL "GEFYRA.TXT", 105, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 77, 42, 145, 9
 EDITTEXT 108, 86, 80, 53, 9
 EDITTEXT 109, 164, 80, 53, 9
 DEFPUSHBUTTON "Εναρξη", 100, 56, 173, 70, 14
 DEFPUSHBUTTON "Εξοδος", 101, 156, 175, 70, 14, BS_DEFPUSHBUTTON | NOT WS_TABSTOP
 CONTROL "", 103, "TMeter", 0 | WS_CHILD | WS_VISIBLE, 51, 142, 175, 12
 CTEXT "Ποσοστό Προόδου Εργασίας", 104, 50, 126, 174, 11,  WS_BORDER | WS_GROUP
 LTEXT "Ημερομηνία Εγγραφ\xFEν", -1, 85, 64, 113, 9
 LTEXT "Εως", -1, 144, 80, 16, 12
 LTEXT "Από", -1, 68, 79, 16, 12
 DEFPUSHBUTTON "xls", 106, 236, 13, 23, 15, BS_DEFPUSHBUTTON | NOT WS_TABSTOP
 DEFPUSHBUTTON "txt", 107, 236, 37, 23, 15, BS_DEFPUSHBUTTON | NOT WS_TABSTOP
 CONTROL "\xA9dbSoft  2018  ΜΥΡΙΣΚΟΣ ΙΩΑΝΝΗΣ", -1, "EDIT", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 74, 209, 130, 9
}

